<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <!-- test app.confi-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="Selfhosting_Readify"></binding>
        </basicHttpBinding>
      </bindings>
        <client />
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="TestReadifyChallenge.ImpReadifyRedPillService">
                <endpoint name="basicHttpBinding_ImpReadifyRedPillService"
                  address="ImpReadifyRedPillService" 
                          binding="basicHttpBinding" 
                          contract="TestReadifyChallenge.IRedPill"
                          bindingConfiguration="Selfhosting_Readify" >
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/TestReadifyChallenge/ImpReadifyRedPillService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
